.contentLancamentos{
    display: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    column-gap: 2rem;
    align-content: center;
    max-width: 80%;
    margin-top: 50px;
}
.aviso{
    font-size: 2rem;
    margin-top: 100px;
    opacity:.7;
}
@media (max-width: 790px){
    .contentLancamentos{
        display: grid;
        grid-template-columns:1fr 1fr;
        row-gap:0;
        column-gap:0;
        max-width: 100%;
        
    }

}
@media (max-width: 610px){
    .contentLancamentos{
        display: grid;
        grid-template-columns:1fr ;
        row-gap:0;
        column-gap:0;
        max-width: 100%;
        
    }

}
    

