.sobre{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.sobre h1{
    
    color: var(--destakColor);
    font-size:2.5rem;
    margin-bottom:20px;
}
.barra{
    width:2px;
    height:400px;
    background:linear-gradient(to bottom, rgb(155, 32, 255),#ff2525, #1500fc);
}
.contP{
    max-width: 400px;
}
.sobre p {
    color:rgba(255, 255, 255, 0.542);
   
    
    text-align: left;
    font-size:1.2rem;
}

@media (max-width:865px) {
    .sobre{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;
    }
    .barra{
        width:400px;
        height:2px;
        background:linear-gradient(to right, rgb(155, 32, 255),#ff2525, #1500fc);

    }
}
@media (max-width:500px) {
    .sobre{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 500px;
        
    }
    .barra{
        width:280px;
        height:2px;
        background:linear-gradient(to right, rgb(155, 32, 255),#ff2525, #1500fc);

    }
    .sobre p{
        text-align: center;
        margin-top: 20px;
    }
}