* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Smooch&display=swap");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: none;
}
body {
  background-color: black;
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  --red:  #ff2525;
  --purple: rgb(155, 32, 255);
  --blue: #1500fc;
  
  
  min-height: calc(100vh + 10rem);
}

.logo{
  animation: spinner 20s linear infinite;
}

@keyframes spinner {
    to{
        transform:rotate(360deg);
    }
}


/*---------------------------------nav bar----------------------------------------------------*/

.containerNav {
  position: absolute;
  margin-bottom: 20px;
  left: 0;
  top: 15px;
}
.navLink {
  text-decoration: none;
  color: var(--purple);
  margin: 15px;
  font-size: 1.8rem;
  opacity: 0.3;
}
.active {
  border-bottom: 2px solid var(--purple);
  padding: 10px;
  opacity: 1;
}

 .mobileNav .containerNav{
  display:none;
}
@media (max-width: 999px){
  .mobileNav{
    z-index: 99;
  }
  .navLink{
    margin: 10px;
    
  }
  .containerNav .navLink:nth-child(1){
    animation: down .3s forwards;
  }
  .containerNav .navLink:nth-child(2){
    animation: down .5s forwards;
  }
  .containerNav .navLink:nth-child(3){
    animation: down .7s forwards;
  }
  .containerNav .navLink:nth-child(4){
    animation: down .9s forwards;
  }
  .containerNav{
    height: 300px;
  }
  .mobileNav .containerNav{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 100%;
    margin-bottom:0;
    top:3px;
    background-color: #000000fa;
    animation: down .6s forwards;
    
  }
  .webNav .containerNav{
    display:none;
  }
  .active {
    color: #ff5def;
    border:none;
    padding: 0;
    opacity: 1;
  }
  @keyframes down{
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    100%{
      transform: translateY(30px);
      opacity: 1;
    }
  }
}
    



/*---------------------------------nav bar----------------------------------------------------*/


.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg {
  position: absolute;
  left: 0;
  background-image: re;
}

.animeLeft {
  transform: translatey(90px);
  opacity: 0;
  animation: animeLeft 0.7s forwards;
}
@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}
